.WallboardRow {
    display: flex;
j   ustify-attributes: space-between;
    border-style: solid;
    text-align: center;
    background-color: #beffea;
    height: 20vh;
    margin: 10px 10px 10px 10px;
}

