.WallboardRowQueue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #beffea;
    max-width: 20vw;
    border-style: solid;
    margin: 5px 5px 5px 5px;
    font-size: 2vw;
}