.WallboardHeader {
    display: flex;
    background-color: #beffea;
    height: 15vh;
    text-align: center;
    margin: 5px 5px 5px 5px;
}
.WallboardHeader-left {
    display: flex;
    justify-content: center;
    border-style: solid;
    width: 25%;
    font-size: 35px;
}

.WallboardHeader-left img {
    min-width: 100%;
    min-height: 100%;
}

.WallboardHeader-right {
    display: flex;
    background-color: #ff9700;
    justify-content: center;
    border-style: solid;
    color: white;
    border-color: black;
    width: 25%;
    font-size: 2.2vw;
    font-weight: bold;
    text-align: center;
}

.WallboardHeader-mid {
    display: flex;
    background-color: #00cdff;
    color: white;
    border-color: black;
    justify-content: center;
    border-style: solid;
    width: 50%;
    float: left;
    font-size: 4vw;
}
